<div class="cart-section">
  <h2>Your Shopping Bag</h2>
  <div class="cart-items">
    <div class="cart-item" *ngFor="let item of cartItems">
      <img [src]="item.img" alt="{{ item.name }}">
      <h3>{{ item.name }}</h3>
      <p class="price">{{ item.price | currency }}</p>
      <button class="remove-button" (click)="removeFromCart(item)">Remove</button>
    </div>
  </div>
  <div class="total">
    <h3>Total: {{ calculateTotal() | currency }}</h3>
  </div>
  <button class="checkout-button" (click)="openForm()">BUY NOW</button>

  <div *ngIf="showForm" class="order-form">
    <h2>Form</h2>
    <form (ngSubmit)="submitCustomerInfo(customerInfo)" #customerForm="ngForm">
      <div>
        <label for="name">Name:</label>
        <input
          id="name"
          [(ngModel)]="customerInfo.name"
          name="name"
          required
          placeholder="Enter Your Name"
        />
        <div *ngIf="customerInfo.name === '' && customerForm.submitted" class="error">
          Name is required !!
        </div>
      </div>

      <div>
        <label for="address">Adress:</label>
        <input
          id="address"
          [(ngModel)]="customerInfo.address"
          name="address"
          required
          placeholder="Enter Your Adress"
        />
        <div *ngIf="customerInfo.address === '' && customerForm.submitted" class="error">
          Adress is required !!
        </div>
      </div>

      <div>
        <label for="phone">Phone:</label>
        <input
          id="phone"
          [(ngModel)]="customerInfo.phone"
          name="phone"
          required
          placeholder="Enter Your Number Phone"
          type="tel"
        />
        <div *ngIf="customerInfo.phone === '' && customerForm.submitted" class="error">
          Phone number is required !!
        </div>
      </div>

      <button type="submit">Send</button>
    </form>
  </div>


  <app-receipt *ngIf="showReceipt" [cart]="cartItems" [customerDetails]="customerInfo"></app-receipt>
</div>
